<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862148348430-ucta5304tq3s46fdqv9ub43as78re3ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862148348430-ucta5304tq3s46fdqv9ub43as78re3ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDzFh3b0cGoNoOiP8jzpkso4sEMPPQ761I</string>
	<key>GCM_SENDER_ID</key>
	<string>862148348430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamsharp.TwitterApp</string>
	<key>PROJECT_ID</key>
	<string>twitterapp-50c97</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterapp-50c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862148348430:ios:571037c9b0e3e804b8ca5f</string>
</dict>
</plist>